/*
 * Main site CSS file
 */



h1, h2, h3, p, body, div {
    font-family: 'Lato', Tahoma, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
	background-color: white;
}

a {
	text-decoration: none;
}

/*************** HEADER ***********************/

header {
 	border-radius: 10px;
 	background: #286DA8;
 	margin: 2em 4em 2em 4em;
 	height: 80px;
 	padding-left: 1em;
 	overflow: hidden;
 	white-space: nowrap;
 	border: 1px solid black;
}

header #logo {
	display: block;
	margin: 0.3em 0.5em 0.5em 0.5em;
}


header ul {
	float: right;
	list-style-type: none;
	display: inline;
	margin-top: -1.5em;
	margin-right: 1em;
}

header ul li {
	display: inline;
	padding: 5px; /* space login/register links */
	font-size: 1.2em;
}

header ul li a {
	color: white;
}

 /************* RIGHT SIDEBAR *************/

article#right-sidebar {
	float: right;
	width: 250px;
 	margin: 0em 4em 2em 2em;
 	padding: 10px;
 	height: 500px;
 	text-align: center;
 	background-color: #eaeff7;
}

article#right-sidebar p {
	display: inline-block;
	padding: 0 5px 0 5px;
	background-color: #eaeff7;
	color: black;
}

article#right-sidebar button {
	background-color: #cf6766;
	color: white;
	padding: 9px 15px;
	margin: 0;
	border: none;
	cursor: pointer;
	display: block;
	width: 100%;
}

article#right-sidebar button:hover {
	opacity: 0.8;
}

article#right-sidebar #sidebar-search {
	margin-bottom: 2em;
	background-color: #eaeff7;
	color: white;
}

article#right-sidebar #forum-info {
	margin-top: 2em;
	background-color: #eaeff7;
}

article#right-sidebar a {
	text-decoration: none;
	color: #286DA8;
}

/************** CENTER CONTENT ********************/

article#center {
	width: auto;
	overflow: hidden;
	margin: 2em 4em 2em 4em;
	min-height: 500px;
	background-color: #eaeff7;
}

.post {
	overflow: auto;
	padding: 2px 2px 2px 2px;
	margin: 0.5em 1em 0.5em 0.2em;
	border-bottom: 1px solid black;
	background-color: white;
}

.post .title {
	background-color: white;
}

.post .title a {
	color: #286DA8;
}

.post .post-info {
	background-color: white;
}

.post .post-info a {
	color: #438496;
}

.post .post-stats {
	background-color: white;
}

.post-score {
	float: left;
	display: block;
	height: 4.5em;
	width: 30px;
	align-items: stretch;
	background-color: white;
}

.post-score p {
	text-align: center;
	background-color: white;
}

.post-score img {
	display: block;
	margin: 0 auto;
}


/******** FOOTER ********************/

footer {
    clear:left;
    background-color: #bec1c6;
    padding: 20px 2em 20px 2em;
    margin: 0 4em 0 4em;
    color: black;
    border-radius: 10px;
    background-color: #eaeff7;
}

footer p {
	text-align: center;
	font-size: 12px;
	background-color: #eaeff7;
	color: black;
}

