/*
 * CSS for login and registration page.
 */

 #login, #register {
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 2em;
 	width: 40%;
 }

 fieldset {
 	background-color: #eaeff7;
 }

.missing {
	border: 1px solid #ff0000 !important;
	background-color: #ffa3a3 !important;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

span a {
	color: #286DA8;
}

button {
	background-color: #cf6766;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

button:hover {
	opacity: 0.8;
}

.cancel-btn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44d41; 
}

.container {
	padding: 16px;
}

h2 {
	color: black;
}

span {
	float: right;
	padding-top: 16px;
}

.comment-input {
	width: 60% !important; /* lol I shouldn't use this. oops */
}

.comment-submit {
	width: 150px !important; /* lol */ 
}